.home{
    background-color: hsl(171, 100%, 41%);

}
.home1{
    color:azure;
}

.home2{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
}

.home3{
    background-color: rgb(241, 102, 21);
}

.bc{
    background-color: hsl(141, 53%, 53%);
}
  
    

