{% extends 'base.html' %}

{% block title %}UNIVERSITIES/PU/BA{% endblock title %}

{% block body %}

<!--breadcrumb-->
   
        <div class="section">
        
		    <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="box">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="pu.html" aria-current="page"><b>UNIVERSITIES/PU</b></a></li>
                    <li class = "is-active"><a href="##"><b>BA</b></a></li>
                </ul>
            </nav>
        
		</div>

<!--/breadcrumb-->
 
<!--section-->

        <div class="box section" >

            <div class="columns is-multiline is-mobile" >
                <div class="column is-half">
                    <article class="media notification is-black" >
					    <div class="media-content">
						    <div class="content">
							   <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-1</strong></h1>
							   <button onClick="location.href='ba1.html'" class="button is-primary is-rounded  "><b>GET</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                    <article class="media notification is-black">
					   <div class="media-content">
						    <div class="content">
							   <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-2</strong></h1>
							   <button onClick="location.href='cbse-class12.html'" class="button is-primary is-rounded  "><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>

                <div class="column is-half">
                    <article class="media notification is-black" >
					    <div class="media-content">
						    <div class="content">
							   <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-3</strong></h1>
							   <button onClick="location.href='cbse-class10.html'" class="button is-primary is-rounded  "><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                    <article class="media notification is-black">
					    <div class="media-content">
						   <div class="content">
							   <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-4</strong></h1>
							   <button onClick="location.href='cbse-class12.html'" class="button is-primary is-rounded  "><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>

                <div class="column is-half">
                    <article class="media notification is-black" >
					    <div class="media-content">
						    <div class="content">
							   <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-5</strong></h1>
							   <button onClick="location.href='cbse-class10.html'" class="button is-primary is-rounded  "><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                   <article class="media notification is-black">
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>SEM-6</strong></h1>
							    <button onClick="location.href='cbse-class12.html'" class="button is-primary is-rounded  "><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            </div>
			
		</div>
    
<!--section-->

{% endblock body %}

        