{% extends 'base.html' %}

{% block title %}UNIVERSITIES/PU/BA4{% endblock title %}

{% block body %}

<!--breadcrumb-->        
       
        <div class="section">
        <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
            <ul class="">
                <li><a href="index.html"><b>HOME</b></a></li>
                <li ><a href="pu.html" aria-current="page"><b>UNIVERSITIES/PU</b></a></li>
                 <li ><a href="ba.html" aria-current="page"><b>BA</b></a></li>
                <li class = "is-active"><a href="##"><b>SEM-4</b></a></li>
            </ul>
        </nav>
        </div>
		
<!--/breadcrumb--> 	    
        
<!--section-->

        <div class="columns is-mobile ">
            <div class="column  is-half is-offset-one-quarter is-info">
                <article class="media notification is-info home2" style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>SEM-4</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

    
        <div class="box section table-container">     
        
           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">English Compulsary</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English Elective</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Public administration</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Economics</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Sociology</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">History And Culture Of Punjab</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">History</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>
                    
                    <tr>
                        <th class="box is-danger">Political Science</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Physical Education</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Home Science</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Geography</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Punjabi Compulsary</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                    </tr>
                    
                    <tr>
                        <th class="box is-danger">Punjabi Elective</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Hindi Elecvtive</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                    </tr>

                </tbody>
            </table>
        
        </div>

<!-- /section -->

{% endblock body %}      

        