{% extends 'base.html' %}

{% block title %}UNIVERSITY/PU/BCOM6{% endblock title %}

{% block body %}

<!--breadcrumb-->        

        <div class="section">
        <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
            <ul class="">
                <li><a href="index.html"><b>HOME</b></a></li>
                <li ><a href="pu.html" aria-current="page"><b>UNIVERSITY/PU</b></a></li>
                <li ><a href="bcom.html" aria-current="page"><b>BCOM</b></a></li>
                <li class = "is-active"><a href="##"><b>SEM-6</b></a></li>
            </ul>
        </nav>
        </div>
		
<!--/breadcrumb--> 	    
        
<!--section-->

        <div class="container is-fluid">
        <div class="columns is-mobile ">
            <div class="column   is-info">
                <article class="media notification is-info home2" style="border-radius: 15px 50px; background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>SEM-6</strong></h1>
				    </div>
			    </article>
            </div>
        </div>
        </div>

    

        <div class=" section table-container">     
            <div class="container is-fluid">
            <table class="table home2" style="border-radius:25px;width:100%;">
                <thead>
                    <tr>
                        <th class="box is-warning" style="margin-top:25px;">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                    </tr>
                </thead>
            
                <tfoot>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th class="box is-danger">Direct Tax Laws</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Financial Management</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Issues in Financial Reporting</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Social and Business Ethics</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Operational Research</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Sectoral Aspects Of Indian Economy</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
<!-- /section -->

{% endblock body %}      
