{% extends 'base.html' %}

{% block title %}UNIVERSITIES/PU/BCOM2{% endblock title %}

{% block body %}

<!--breadcrumb-->        
       
        <div class="section">
        <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
            <ul class="">
                <li><a href="index.html"><b>HOME</b></a></li>
                <li ><a href="pu.html" aria-current="page"><b>UNIVERSITIES/PU</b></a></li>
                 <li ><a href="bcom.html" aria-current="page"><b>BCOM</b></a></li>
                <li class = "is-active"><a href="##"><b>SEM-2</b></a></li>
            </ul>
        </nav>
        </div>
		
<!--/breadcrumb--> 	    
        
<!--section-->

        <div class="columns is-mobile ">
            <div class="column  is-half is-offset-one-quarter is-info">
                <article class="media notification is-info home2" style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>SEM-2</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

    
        <div class=" section table-container">     
        
           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">History and Culture of Punjab</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English and Business Communication</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Interdisciplinary e-commerce</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">corporate accounting</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Buisness Economics</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Human Resource Management</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Business Laws</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                        <td><a href="##">-</a></td>
                    </tr>

                     <tr>
                        <th class="box is-danger">Punjabi compulsory</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">-</a></td>
                        <td><a href="##">-</a></td>
                    </tr>
                </tbody>
            </table>
        
        </div>

<!-- /section -->

{% endblock body %}      

        