{% extends 'base.html' %}

{% block title %}UNIVERSITIES/PU/BCOM5{% endblock title %}

{% block body %}

<!--breadcrumb-->        
       
        <div class="section">
        <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
            <ul class="">
                <li><a href="index.html"><b>HOME</b></a></li>
                <li ><a href="pu.html" aria-current="page"><b>UNIVERSITIES/PU</b></a></li>
                 <li ><a href="bcom.html" aria-current="page"><b>BCOM</b></a></li>
                <li class = "is-active"><a href="##"><b>SEM-5</b></a></li>
            </ul>
        </nav>
        </div>
		
<!--/breadcrumb--> 	    
        
<!--section-->

        <div class="columns is-mobile ">
            <div class="column  is-half is-offset-one-quarter is-info">
                <article class="media notification is-info home2">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black"><strong>SEM-5</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

    
        <div class="box section table-container">     
        
           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">Income Tax Law</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Management Accounting</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Indian Economy</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Production and Operation Management</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Entrepreneurship and Small Business</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Financial Markrts and Services</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>
                </tbody>
            </table>
        
        </div>

<!-- /section -->

{% endblock body %}      

        