{% extends 'base.html' %}

{% block title %}BOARD/ICSE/CLASS12{% endblock title %}

{% block body %}



<!--breadcrumb-->        
    
        <div class="section">
            <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="cbse.html" aria-current="page"><b>BOARD/CBSE</b></a></li>
                    <li class = "is-active"><a href="cbse-class12.html"><b>CLASS-12</b></a></li>
                </ul>
            </nav>
        </div>

<!--/breadcrumb-->    		

<!--section-->

        <div class="container is-fluid">
        <div class="columns is-mobile ">
            <div class="column   is-info">
                <article class="media notification is-info home2" style="border-radius: 15px 50px; background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black"><strong>CLASS-12</strong></h1>
				    </div>
			    </article>
            </div>
        </div>
        </div>

        <div class=" section table-container">     
            <div class="container is-fluid">
            <table class="table home2" style="border-radius:25px;width:100%;">
                <thead>
                    <tr>
                        <th class="box is-warning" style="margin-top:25px;">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </thead>
            
                <tfoot>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th class="box is-danger">Maths</th>
                        <td><a href="https://drive.google.com/file/d/1QH7WdXQIEBYHRl6-g3-c5tJXCZO7tJHH/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1uE1M_xr-PGaNEw7stJm3TPCMSpn5GjWs/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1nlumAQcCqNB6lF3WE08Kr0osNKr23TU_/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/13xOtA7NFhwUDF_am8YRucecB88K5CORM/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1yssiIeGcoMiK7D11tfBdkGJMohFsDeug/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Chemistry</th>
                        <td><a href="https://drive.google.com/file/d/1cTkuwJivecHTh-Zweun1jqO1u9OOFu6v/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1H9r7ICnOl_ZpQnindgPLFUmsdq6xK-fC/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1CBUAAsUo7-_aR8sjlWIzXP5sbj5oNUnN/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1hHc8HyfGonyeTucvnRbJmq02BCiRSWcX/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/11LdaBkPzrN2bFnLWkbBTxHrx-9lcTByK/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Biology</th>
                        <td><a href="https://drive.google.com/file/d/18naQbfZXrq3t_MC0km7z67sr7QSTntUg/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1NDBc3qGl02PoyiAy2v_cSEs60wJfyGuy/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1UXa_xacJ2ws4fyV2htkp9M4saxUAP-Xg/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1IKkTll8BtV343FkjucFcG07NRaf2xF26/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/10x43TSc6qcfL8RVs1DmrO5nTfNbagAGV/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English</th>
                        <td><a href="https://drive.google.com/file/d/1lzlAKmJ4-tSk9ja_jRCEmydqCxbJSZM2/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1pNr1f_RA8e7dOopqrCLy64wEcN-KW4aO/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1j9Wvoe06ARdwjqrmVbmTR5y_EstWML0Z/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1MwPry593AobRW48wTl4xPWICa32w6uWX/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1NL7OyooSCg-arwweGb5eDWgWbhoYdkgB/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Economics</th>
                        <td><a href="https://drive.google.com/file/d/1kO68uhXU_807dGg-Thdojc0ipDaO-dp1/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/176hRieoAo00Q3DSYJm2F8z9D_WOwu18W/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1DTlvfgN4GPtXtGgQy10FdQMMB-_wLAJl/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1fbhFEwQGbZh_1vTHz2xUXvdQlnWhidmR/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1DnscMZdREiv3KIjT2fo4Y7hD62LZGdAa/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Physics</th>
                        <td><a href="https://drive.google.com/file/d/1kO68uhXU_807dGg-Thdojc0ipDaO-dp1/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1UV1-L139Gs2sqZX8D3VJDblslNw5JwWc/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1-uVvOVPWo6mIaYr0zRWlfuHEAFbNYeBw/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/11mxZb8f_KwwJW9wx62viUMPnyJrqxU4z/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/11mxZb8f_KwwJW9wx62viUMPnyJrqxU4z/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Political Science</th>
                        <td><a href="https://drive.google.com/file/d/1P9DbulsQMZDuf71J0O014HJ23QE9hXy6/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1gpKsq8FIQEW9qqKtXGoFiwQgqpR4iVGi/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1eRuZq33CqoQOeayafFJ4aNKmbt8Hhe1Q/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1lm_pQpWj9Lh-sH-H1WGv_5VP3k07CWvm/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1GN3eOmsCAOoh3KbWy1NM2bpyNFVlgR0F/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Accountancy</th>
                        <td><a href="https://drive.google.com/file/d/1GrHhn2cIUP0ncIcs9iUabFirhX2QobxB/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1RhS_ZBGcF1FD-0tPh_4X0TrqaEGWFdyh/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1qrD5_t2Kwf518siU1QcjQ7G5RVJz881L/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1bfAVxNzXXnEyPwqsxXv7b8PhcjhU8rt9/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/10d_unrwiG2uUXoIC6Q8DLdkO0hisWlkY/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Banking</th>
                        <td><a href="https://drive.google.com/file/d/1v-0XOxNCDHimKD2qKn80EtzmlHCcqI1p/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1v-0XOxNCDHimKD2qKn80EtzmlHCcqI1p/view?usp=sharing">view</a></td>
                        <td><a href="#"></a></td>
                        <td><a href="#"></a></td>
                        <td><a href="#"></a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">History</th>
                        <td><a href="##"></a></td>
                        <td><a href="https://drive.google.com/file/d/1Hds0EtV90Qa9wHhK4f5copF_Wx9Nb1MV/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1DNil9PxtfUmruu4wroc24l9gh04x8nFG/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1tlyqJRcPRGnLZGDVnZZNHFuk_PHBMrSZ/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1tlyqJRcPRGnLZGDVnZZNHFuk_PHBMrSZ/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Geography</th>
                        <td><a href="##"></a></td>
                        <td><a href="https://drive.google.com/file/d/19L6wsdO6pWfeqoZ1Jqx2oAHTqMAV-QAC/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/15cAQnw27mLXNx4eIHs_e93Lhk1tUGW3D/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1iyqQ8ZIXx8V7cbWe0M6nfTcQbQuBjcZ1/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/143A_r66kLGBDcYIuzW15lOvTqpk3MduU/view?usp=sharing">view</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

<!-- /section -->


{% endblock body %}      
