{% extends 'base.html' %}

{% block title %}BOARD/ICSE/CLASS10{% endblock title %}

{% block body %}

<!--breadcrumb-->

        <div class="section">

           <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="cbse.html" aria-current="page"><b>BOARD/CBSE</b></a></li>
                    <li class = "is-active"><a href="cbse-class10.html"><b>CLASS-10</b></a></li>
                </ul>
            </nav>
       
        </div>

<!--/breadcrumb-->

<!--section-->

        <div class="columns is-mobile ">
            <div class="column  is-half is-offset-one-quarter is-info">
                <article class="media notification is-info home2" style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>CLASS-10</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

    
        
        <div class=" section table-container ">     
           
           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2013</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2013</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">Maths</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-maths-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-maths-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-maths-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-10-maths-question-paper-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-maths-question-paper-2016-class-10/">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2015/30-1%20MATHEMATICS.pdf">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2013/math_set_no-X.pdf">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Science</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-science-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-science-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-science-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-science-previous-year-question-papers-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-10-science-previous-year-question-papers-2016/">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2015/31-1%20SCIENCE.pdf">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2013/Science-X.pdf">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English</th>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/english-pyp/english-language-2020-main-exams-set-1/259548">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/english-pyp/english-communicative-2019-main-exam-all-india-set-3/140043">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/english-pyp/english-language-and-literature-2018-main-exam-set-2/93741">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/english-pyp/english-language-and-literature-2017-main-exam-outside-set-1/41091">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/english-pyp/english-language-and-literature-2016-main-exam-outside-set-1/41063">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2015/2-1%20ENGLISH%20LANGUAGE%20AND%20LIT.pdf">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2013/english_literature-X.pdf">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Hindi</th>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/hindi-pyp/hindi-a-2020-main-exams-set-1/259560">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/hindi-pyp/hindi-a-2019-main-exam-delhi-set-1/140048">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/hindi-pyp/hindi-a-2018-main-exams-set-1/102945">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/hindi-pyp/hindi-course-a-2017-main-exam-outside-set-1/41182">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-10th/hindi-pyp/hindi-course-a-2016-main-exam-outside-set-1/41165">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2015/3-1%20HINDI%20A.pdf">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2013/Hindi_CoursA-X.pdf">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Social Science</th>
                        <td><a href="https://byjus.com/cbse-previous-year-question-paper-class-10-social-science-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-previous-year-question-paper-class-10-social-science-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-previous-year-question-paper-class-10-social-science-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-previous-year-question-paper-class-10-social-science-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-previous-year-question-paper-class-10-social-science-2016/">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2015/32-1%20SOCIAL%20SCIENCE.pdf">view</a></td>
                        <td><a href="https://www.cbse.gov.in/cbsenew/question-paper/2013/Social_Science-X.pdf">view</a></td>
                    </tr>
                </tbody>
            </table>
        
        </div>

<!-- /section -->

{% endblock body %}      

        