{% extends 'base.html' %}

{% block title %}BOARD/ICSE/CLASS10{% endblock title %}

{% block body %}

<!--breadcrumb-->

        <div class="section">
            <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="cbse.html" aria-current="page"><b>BOARD/CBSE</b></a></li>
                    <li class = "is-active"><a href="cbse-class10.html"><b>CLASS-10</b></a></li>
                </ul>
            </nav>
        </div>

<!--/breadcrumb-->

<!--section-->

        <div class="container is-fluid">
        <div class="columns is-mobile ">
            <div class="column   is-info">
                <article class="media notification is-info home2" style="border-radius: 15px 50px;background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>CLASS-10</strong></h1>
				    </div>
			    </article>
            </div>
        </div>
        </div>

    
        
        <div class="section table-container">     
            <div class="container is-fluid"  >
            <table class="table home2" style="border-radius:25px; width:100%;">
                <thead >
                    <tr >
                        <th class="box is-warning" style="margin-top:25px;">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                    </tr>
                </thead>
            
                <tfoot>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <th class="box is-danger" >Maths</th>
                        <td><a href="https://drive.google.com/file/d/1BLWfAuyQfs5GwTKFF8ceMVOrSAS2BiOP/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1JMYjepuTZOa45KS7jk8wRU08OKJZHv-S/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1QtcL32BiLF_fIFfoW0s4eHmtJyugqNtl/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1S_UohSpSUMCAeCUhONQZps9dyWARY0Se/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1pNyGEu5l71DwX3U14RhvVkmQMEpxplmN/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1h0TkqPdlcwiTgyMq8mQTc4gtUtOdfNgk/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Science</th>
                        <td><a href="https://drive.google.com/file/d/1MYR26k1ECy5J2wx_zwIYSKOHHyqga4xO/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1zMIpJURKemjPJfYmKKdtGKrBsjBfch70/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1QHX8vZNsfKnWCjJ7QWCVwNBp5dT0eUVl/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1sHcf0A9IKzi5174MfRxjjjH5edReoV3O/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1xEMkbGUKzIUz9WSMVqcIcSPGag3OsaRs/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1haeDNXtcxVqOfVmP4Rfh7fDlSRmZdq-6/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English</th>
                        <td><a href="https://drive.google.com/file/d/1gnTiCSPVOYmjhPeNvrQ-_JCaW83TzS7A/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1gOghSe9YbzhjrjVmTvacAO3wvn8c8AHJ/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1TDWTiK_gQp2pCNcDmbk7Dvk_TGL8i-b0/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1VgtbmlPdghDdvVGKDDJ4f2XS-ZzUznDd/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1pQyfH7N-02Viwxa08qrPKstohI2hWjOP/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1nCA-jS5pGdOm5CezQw57ElpVZeSJo6D9/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Hindi</th>
                        <td><a href="https://drive.google.com/file/d/1D-3z9jSy54jQ1ULJaRRIeSYog1nA_f5O/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1zCP1ZO29KM9UtlyF3jUKkF1n8aGJf969/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/11rJ5GCQmPQyhYUkVhsYe1bu78IxI84CH/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/17DmfQl5xSNvC0zMtmLT2jHy6X3dDqQZL/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1aN9rKvoMUAEz-fuHEm-1qgOm55Gc2pl7/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1pm4dhcK68TY-Lnt_jiqqPCnS6T6US1Eu/view?usp=sharing">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Social Science</th>
                        <td><a href="https://drive.google.com/file/d/1jIptIowkmBQV5w2PLJw17XD84NdIY0vX/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1d4pGS3Rdatlz6Mb2NRDzF35OJMuNUnpj/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1IgJmTsYVknl2rxnVb9fKcvGIL31TExUQ/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1p2ZaOcM0eYEEAX6NvrN8O9tYPLAn0-gZ/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1BmR7QzwrvTDwbdGZWeXgDcvD2lnDx-PX/view?usp=sharing">view</a></td>
                        <td><a href="https://drive.google.com/file/d/1dZ10J43bt7zXhXlxAx_X9ZDlajNx9SaD/view?usp=sharing">view</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

<!-- /section -->

{% endblock body %}      