{% extends 'base.html' %}

{% block title %}BOARD/ICSE/CLASS12{% endblock title %}

{% block body %}

<!--breadcrumb-->        
    
        <div class="section">
        
            <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="cbse.html" aria-current="page"><b>BOARD/CBSE</b></a></li>
                    <li class = "is-active"><a href="cbse-class12.html"><b>CLASS-12</b></a></li>
                </ul>
            </nav>

        </div>

<!--/breadcrumb-->    		

<!--section-->

        <div class="container">

        <div class="columns is-mobile ">
            <div class="column   is-info">
                <article class="media notification is-info home2" style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black"><strong>CLASS-12</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

        </div>

    
        <div class=" section table-container">     
        
           <div class="container">

           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2014</th>
                        <th>2013</th>
                        <th>2012</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2014</th>
                        <th>2013</th>
                        <th>2012</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">Maths</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-maths-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-maths-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-maths-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-maths-previous-year-question-papers-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-maths-question-paper-2016-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-maths-question-paper-2015/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-maths-question-paper-2014-solved-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-maths-question-paper-2013-solved-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-maths-previous-year-question-papers-2012/">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Chemistry</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-chemistry-question-paper-2016/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2015/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-chemistry-question-paper-2014-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-chemistry-question-paper-2013-solved-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-chemistry-previous-year-question-papers-2012/">view</a></td>
                    </tr>

                     <tr>
                        <th class="box is-danger">Biology</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/biology-question-paper-class-12-cbse-2016/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/biology-question-paper-class-12-cbse-2015/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2014/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-biology-board-question-paper-2013-solved/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-biology-previous-year-question-papers-2012/">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English</th>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-core-2020-main-exam-set-1/259849">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2019-main-exams-all-india-set-3/139935">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2018-main-exams-set-1/102955">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2017-main-exams-outside-set-1/40768">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2016-main-exams-outside-set-1/40759">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2015-main-exams-delhi-set-1/40750">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/english-pyp/english-2014-main-exams-outside-set-1/40719">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Hindi</th>
                        <td><a href="##">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-2019-set-1/197930">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-2018/197927">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-outside-delhi-2017-set-1/197923">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-2016/117358">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-2015/117357">view</a></td>
                        <td><a href="https://ncerthelp.com/cbse%20exam%20paper/Class%2012/Hindi/HINDICOREOuestionPaperOutsideOfDelhi2014.pdf">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/hindi-core-pyp/hindi-core-2013/117356">view</a></td>
                        <td><a href="https://ncerthelp.com/cbse%20exam%20paper/Class%2012/Hindi/HINDICOREOuestionPaperOutsideOfDelhi2012.pdf">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Physics</th>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-physics-previous-year-question-papers-2020/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-physics-previous-year-question-papers-2019/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-physics-previous-year-question-papers-2018/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-physics-previous-year-question-papers-2017/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-physics-question-paper-2016/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-physics-question-paper-2015/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-physics-question-paper-2014-solved-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/cbse-class-12-physics-question-paper-2013-solved-pdf/">view</a></td>
                        <td><a href="https://byjus.com/cbse-study-material/class-12-physics-previous-year-question-papers-2012/">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Computers Science</th>
                        <td><a href="##">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/computer-science-c-pyp/computer-science-c-2019-set-1/197332">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/computer-science-c-pyp/computer-science-c-2018-main-exams-set-4/93754">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/computer-science-c-pyp/computer-science-c-2017-outside-set-1/40664">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/computer-science-c-pyp/computer-science-c-2016-outside-set-4/40662">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/computer-science-c-pyp/computer-science-c-2015-outside-set-1/40660">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Physical Education</th>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2020-main-exam-set-1/259848">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2019-outside-delhi-set-1/197378">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2018-reconducted/197370">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2017-main-exams-outside-set-1/40909">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2016-main-exams-outside-set-4/40907">view</a></td>
                        <td><a href="https://www.selfstudys.com/books/cbse-prev-paper/english/Class-12th/physical-education-pyp/physical-education-2015-main-exams-delhi-set-1/40906">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>
                </tbody>
            </table>

            </div>
        
        </div>

<!-- /section -->

{% endblock body %}      

        

    
   