{% extends 'base.html' %}

{% block title %}BOARD/ICSE/CLASS10{% endblock title %}

{% block body %}

<!--breadcrumb-->        
       
        <div class="section">
        <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
            <ul class="box">
                <li><a href="index.html"><b>HOME</b></a></li>
                <li ><a href="icse.html" aria-current="page"><b>BOARD/ICSE</b></a></li>
                <li class = "is-active"><a href="icse-class10.html"><b>CLASS-10</b></a></li>
            </ul>
        </nav>
        </div>
		
<!--/breadcrumb--> 	    

<!--section-->

        <div class="columns is-mobile ">
            <div class="column  is-half is-offset-one-quarter is-info">
                <article class="media notification is-info home2">
				    <div class="media-content">
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black"><strong>CLASS-10</strong></h1>
				    </div>
			    </article>
            </div>
        </div>

    
        <div class="box section table-container">     
        
           <table class="table">
               <thead>
                    <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2014</th>
                        <th>2013</th>
                        <th>2012</th>
                    </tr>
                </thead>
            
                <tfoot>
                   <tr>
                        <th class="box is-warning">Subject/Year</th>
                        <th>2020</th>
                        <th>2019</th>
                        <th>2018</th>
                        <th>2017</th>
                        <th>2016</th>
                        <th>2015</th>
                        <th>2014</th>
                        <th>2013</th>
                        <th>2012</th>
                    </tr>
                </tfoot>
           
                <tbody>
                    <tr>
                        <th class="box is-danger">Maths</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Science</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">English</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">Hindi</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>

                    <tr>
                        <th class="box is-danger">History</th>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                        <td><a href="##">view</a></td>
                    </tr>
                </tbody>
            </table>
        
        </div>

<!-- /section -->

{% endblock body %}      

        