{% extends 'base.html' %}

		
{% block title %}LYP(last year papers){% endblock title %}
		
			
{% block body %}

<!-- .section -->

	    <section class="section ">
		   
		    <div class="container ">

			    <div class="columns is-mobile ">
                    <div class="column ">
					    <article class="media notification is-success home2" style="background-image: linear-gradient(270deg, #927f75 0, #6f6d6b 16.67%, #4a5962 33.33%, #1f4459 50%, #003051 66.67%, #001e49 83.33%, #000941 100%);">
						    <div class="media-content">
							    <div class="content">
							        <h1 class="title is-size-2" style="text-align:center; font-family:Archivo Black; "><strong>BOARD</strong></h1>
							    </div>
						    </div>
					    </article>
				    </div>
                </div>
		    
			<div class="">

			    <div class="columns">
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
					        
							<div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>CBSE</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
								    <button class="button  is-rounded buttoncolor is-primary" onClick="location.href='cbse.html'" style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>CLICK HERE</b></button>
                                </div>
						    </div>
				        </article>
				    </div>
				</div>

		    </div>
		
		    </div>

	    </section>

<!-- /.section -->

<!-- .section -->

	    <section class="section ">
		    
			<div class="container">
			
			    <div class="columns is-mobile ">
                    <div class="column ">
					    <article class="media notification is-success home2" style="background-image: linear-gradient(270deg, #927f75 0, #6f6d6b 16.67%, #4a5962 33.33%, #1f4459 50%, #003051 66.67%, #001e49 83.33%, #000941 100%);">
					        <div class="media-content ">
							    <div class="content">
								    <h1 class="title is-size-3" style="text-align:center; font-family:Archivo Black"><strong>UNIVERSITIES</strong></h1>
							    </div>
						    </div>
					    </article>
				    </div>
                </div>
				
			<div class="">

			    <div class="columns">
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						    
							<div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>PUNJAB UNIVERSITY CHANDIGARH</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='pu.html'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>CLICK HERE</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
			    </div>
            
			</div>
        
		</section>

<!-- /.section -->


<!-- .section -->

	    <section class="section ">

		    <div class="container">

			    <div class="columns is-mobile ">
                    <div class="column">
					   <article class="media notification is-success home2" style="background-image: linear-gradient(270deg, #927f75 0, #6f6d6b 16.67%, #4a5962 33.33%, #1f4459 50%, #003051 66.67%, #001e49 83.33%, #000941 100%);">
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-3" style="text-align:center; font-family:Archivo Black"><strong>COMPETITIVE</strong></h1>
							    </div>
						    </div>
					    </article>
				    </div>
                </div>
			
			<div class="">

			    <div class="columns">
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								   <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>CDS</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>

						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>

				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				</div>

				 <div class="columns">
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								   <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>CDS</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>

						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>

				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				</div>

				 <div class="columns">
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								   <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>CDS</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				
				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>

						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>

				    <div class="column">
					    <article class="media notification is-light">
						    <figure class="media-left">
							    <span class="icon is-large">
								    <i class="fas fa-hand-point-right"></i>
							    </span>
						    </figure>
						
						    <div class="media-content">
							    <div class="content">
								    <h1 class="title is-size-4" style="text-align:center; font-family:Archivo Black"><strong>AFCAT</strong></h1>
								    <p class="is-size-5 ">
									    Get last year papers for <strong>Free</strong>
								    </p>
                                    <button onClick="location.href='###'" class="button is-primary is-rounded " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>
                                </div>
						    </div>
					    </article>
				    </div>
				</div>

		    </div>

	    </section>

<!-- /.section -->
	

<!-- .section -->

		<section class="section">
			
			<div class="container">
				
				<div class="columns is-multiline">
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon">
									<i class="fas fa-lg fa-columns has-text-warning"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
										Free
									</p>
								</div>
							</div>
						</article>
					</div>
					
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-info">
									<i class="fab fa-lg fa-wpforms"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
										No Money
									</p>
								</div>
							</div>
						</article>
					</div>
					
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-danger">
									<i class="fas fa-lg fa-cubes"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
									    Study Hard
									</p>
								</div>
							</div>
						</article>
					</div>
					
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-grey">
									<i class="fas fa-lg fa-cogs"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
										Never Give Up
									</p>
								</div>
							</div>
						</article>
					</div>
					
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-primary">
									<i class="fas fa-lg fa-warehouse"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
										Pratice Is Everything
									</p>
								</div>
							</div>
						</article>
					</div>
					
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-danger">
									<i class="fas fa-lg fa-cube"></i>
								</span>
							</figure>
							
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4"><strong>Last Year Papers</strong></h1>
									<p class="subtitle is-size-5">
									    Be Confident
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			
			</div>
		
		</section>

<!-- /.section -->

{% endblock body %}

        