{% extends 'base.html' %}

{% block title %}MATHS2020{% endblock title %}

{% block body %}

    <div class="hero-body">
    <div class="container is-fluid has-text-centered">

<!--breadcrumb-->

        <div class="section">

           <nav class="breadcrumb is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li ><a href="cbse.html" aria-current="page"><b>BOARD/CBSE</b></a></li>
                    <li ><a href="cbse-class10.html" aria-current="page"><b>CLASS-10</b></a></li>
                    <li class = "is-active"><a href="cbse-class10.html"><b>MATHS2020</b></a></li>
                </ul>
            </nav>
       
        </div>

<!--/breadcrumb-->

<!--section-->

        <div class="section">
        <div class="container is-fluid">
        
        <div class="columns is-mobile ">
            <div class="column ">
                <article class="media notification is-info home2" style="border-radius: 15px 50px;background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);">
				    <div class="media-content">
                        
					    <h1 class="title is-3" style="text-align:center; font-family:Archivo Black" ><strong>MATHS2020</strong></h1>
				        
                    </div>
			    </article>
            </div>
        </div>
        
        </div>
        </div>

        
        <div class="section">
            <div class="container is-fluid">
                <article class="media notification is-light home2" style="border-radius: 35px;">
                    <div class="media-content">
                    <div class="content is-medium">
                        <h1 class="has-text-centered"><strong>SECTION-A</strong></h1>
                        <p><b>Q1.</b> The number of zeroes for a polynomial p(x) where graph of y = p(x) is given in Figure-1, is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>3</li>
                                <li>4</li>
                                <li>0</li>
                                <li>5</li>
                            </ol>
                            </div>
                            
                            <div class="column " >
                            <figure class="image is-128x128" style=" margin-top:21px;">
                                    <img src="/static/images/1.png">
                            </figure>
                            </div>
                            </div>

                        <p><b>Q2.</b> The first term of an A.P. is 5 and the last term is 4 and sum of terms is 400, the number of terms is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>20</li>
                                <li>8</li>
                                <li>10</li>
                                <li>16</li>
                            </ol>
                            </div>
                            </div>

                        <h2 class= 'has-centered-text'>OR</h2>
                        <p>The 9th term of the A.P. - 15, - 11, - 7, ...., 49 is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>32</li>
                                <li>0</li>
                                <li>17</li>
                                <li>13</li>
                            </ol>
                            </div>
                            </div>
                            
                         <p><b>Q3.</b> It is being given that the points A(1, 2), B(0, 0) and C(a, b) are collinear.Which of the following relations between a and b is true."</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>a=2b</li>
                                <li>2a=b</li>
                                <li>a+b=0</li>
                                <li>a-b=4</li>
                            </ol>
                            </div>
                            </div>

                        <p><b>Q4.</b> In Figure 2, TP and TQ are tangents drawn to the circle with centre at 0.If <span>&#8736;</span>POQ=115<span>&#176;</span> then <span>&#8736;</span>PTQ is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>115<span>&#176;</span></li>
                                <li>57.5<span>&#176;</span></li>
                                <li>55<span>&#176;</span></li>
                                <li>65<span>&#176;</span></li>
                            </ol>
                            </div>

                            <div class="column " >
                            <figure class="image is-128x128" style=" margin-top:21px;">
                                    <img src="/static/images/2.png">
                            </figure>
                            </div>
                            </div>

                        <h2 class= 'has-centered-text'>OR</h2>
                        <p>From an external point Q, the length of the tangent to a circle is 5 cm andthe distance of Q from the centre is 8 cm. The radius of the circle is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>39</li>
                                <li>3</li>
                                <li>139</li>
                                <li>7</li>
                            </ol>
                            </div>
                            </div>
                        
                        <p><b>Q5.</b> The value of for which cos (10° + 0) = sin 30°, is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>50°</li>
                                <li>40°</li>
                                <li>80°</li>
                                <li>20°</li>
                            </ol>
                            </div>
                            </div>

                        <p><b>Q6.</b> A bag contains 3 red, 5 black and 7 white ball. A ball is drawn from the bag at random. The pobability that the ball  drawn is not black, is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>1/5</li>
                                <li>9/15</li>
                                <li>5/10</li>
                                <li>2/3</li>
                            </ol>
                            </div>
                            </div>

                        <p><b>Q7.</b> The pair of linear equations y = 0 and y = 6 has</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li> a unique solution</li>
                                <li> no solution</li>
                                <li> infinitely many solutions</li>
                                <li> only solution (0,0)</li>
                            </ol>
                            </div>
                            </div>

                        <p><b>Q8.</b> The mean and median of a distribution are 14 and 15 respectively. The value of mode is</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li> 16</li>
                                <li> 17</li>
                                <li> 18</li>
                                <li> 19</li>
                            </ol>
                            </div>
                            </div>
                        
                        <p><b>Q9.</b> The quadratic equation x<sup>2</sup> - 4x + k = 0 has distinct real roots if</p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>k=4</li>
                                <li>k>4</li>
                                <li>k=16</li>
                                <li>k<4</li>
                            </ol>
                            </div>
                            </div>

                        <p><b>Q10.</b> point p(a/8,4) is the mind-point of the line segment joining the points A(-5,2) and B(4,6. the value of a is </p>
                            <div class="columns is-mobile is-vcentered">
                            <div class="column is-one-quarter">
                            <ol type="A">
                                <li>-4</li>
                                <li>4</li>
                                <li>-8</li>
                                <li>-2</li>
                            </ol>
                            </div>
                            </div>

                        <h4> Fill in the blanks in question number 11 to 15.</h4>

                        <p><b>Q11.</b> (2+<span>&#8730;</span>5/3)is ________ number.</p>
                        <p><b>Q12.</b> Let A ABC ~ A DEF and their areas be respectively 81 cm<sup>2</sup> and 144 cm<sup>2</sup>.If EF = 24 cm, then length of side BC is ______________cm.</p>
                        <p><b>Q13.</b> The distance between the points (a, b) and (-a, - b) is __________</p>
                        <p><b>Q14.</b> If tan A =1, then 2 sin A cos A = ______</p>
                        <p><b>Q15.</b> A spherical metal ball of radius 8 cm is melted to make 8 smaller _________</p>

                        <h4>Answer the following question numbers 16 to 20.</h4>
                        <p><b>Q16.</b> Given that HCF (135, 225) = 45, find the LCM (135, 225).</p>
                        <p><b>Q17.</b> In Figure-3, a tightly stretched rope of length 20 m is tied from the top of a vertical pole to the ground. Find the height of the pole if the angle made by the rope with the ground is 30°.</p>
                        <div class="columns is-mobile is-vcentered">
                            <div class="column " >
                            <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/3.png">
                            </figure>
                            </div>
                        </div>
                        <p><b>Q18.</b> Two dice are thrown simultaneously. What is the  probability that the sum of the two numbers appearing on the top is 13 ?</p>
                        <p><b>Q19.</b> After how many decimal places will the decimal representaion of the rational number 229/2<sup>2</sup> x 5<sup>7</sup>.</p>
                        <p><b>Q20.</b> In Figure-4, AB and CD are common tangents to circles which touch eachother at D. If AB = 8 cm, then find the length of CD.</p>
                        <div class="columns is-mobile is-vcentered">
                            <div class="column " >
                            <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/4.png">
                            </figure>
                            </div>
                        </div>
                        <h1 class="has-text-centered"><strong>SECTION-B</strong></h1>
                        <h4>Question numbers 21 to 26 carry 2 marks each.</h4>
                        <p><b>Q21.</b> Solve for x :</p>
                        <p>6x<sup>2</sup>+ 11x + 3 = 0</p>
                        <p><b>Q22.</b> The perimeters of two similar triangles are 30 cm and 20 cm respectively.If one side of the first triangle is 9 cm long, find the length of the corresponding side of the second triangle.</p>
                        <h2 class='has-centered-text'> OR </h2>
                        <p>In Figure-5,  <span>&#9650</span>PQR is right-angled at P. M is a point on QR such that PM is perpendicular to QR. Show that PQ<sup>2</sup> = QMxQR.</p>
                        <div class="columns is-mobile is-vcentered">
                            <div class="column " >
                            <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/5.png">
                            </figure>
                            </div>
                        </div>
                        <p><b>Q23.</b> Evaluate:<br>(sin47<span>&#176;</span>/cos43<span>&#176;</span>)<sup>2</sup> + (cos30<span>&#176;</span>/cot<span>&#176;</span>)<sup>2</sup> - (sin60<span>&#176;</span>)<sup>2</sup></p>
                        <p>Q24.Find the mode of the following distribution:</p>
                        <div class="columns is-mobile is-vcentered">
                            <div class="column " >
                            <figure class="image is-254x254" style="margin-top:21px;">
                                    <img src="/static/images/6.png">
                            </figure>
                            </div>
                        </div>
                        <h2 class='has-centered-text'> OR </h2>
                        <p>From the following distribution, find the median:</p>
                        <div class="columns is-mobile is-vcentered">
                            <div class="column " >
                            <figure class="image is-254x254" style="margin-top:21px;">
                                    <img src="/static/images/7.png">
                            </figure>
                            </div>
                        </div>
                    
                        <p><b>Q25.</b> In Figure-6, a tent is in the shape of a cylinder surmounted by a conical top. The cylindrical part is 2.1 m high and conical part has slant height 2.8 m. Both the parts have same radius 2 m. Find the area of the canvas used to make the tent. (Use <span>&#8508;</span> = 22/7)</p>
                            <div class="columns is-mobile is-vcentered">
                                <div class="column " >
                                <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/8.png">
                                </figure>
                                </div>
                            </div>
                        <p><b>Q26. <p style='text-align:center'>Tree Plantation Drive</p></b><br><br>
A Group Housing Society has 600 members, who have their houses in the
campus and decided to hold a Tree Plantation Drive on the occasion of
New Year. Each household was given the choice of planting a sampling of
its choice. The number of different types of saplings planted were :<br>
(i) Neem - 125<br>
(ii) Peepal - 165<br>
(iii) Creepers - 50<br>
(iv) Fruit plants - 150<br>
(v) Flowering plants - 110<br>
On the opening ceremony, one of the plants is selected randomly for a
prize. After reading the above passage, answer the following questions.<br>
What is the probability that the selected plant is<br>
(i) A fruit plant or a flowering plant ?<br>
(ii) Either a Neem plant or a Peepal plant ?

                        <h1 class="has-text-centered"><strong>SECTION-C</strong></h1>
                        <h4>Question numbers 27 to 34 carry 3 marks each.</h4>
                        <p><b>Q27.</b> Prove that 15 is an irrational number.</p>
                        <p><b>Q28.</b>  The sum of the first 30 terms of an A.P. is 1920. If the fourth term is 18,find its 11th term.</p>
                        <p><b>Q29.</b>Find the co-ordinates of the points of trisection of the line segment joining the points (3,-1) and (6,8).</p>
                        <h2 class='has-centered-text'> OR </h2>
                        <p>Find the area of a quadrilateral ABCD having vertices at A(1, 2),B(1, 0), C(4,0) and D(4,4).</p>
                        <p><b>Q30.</b> In Figure-7, XY and MN are two parallel tangents to a circle with centre O and another tangent AB with point of contact C intersecting XY at A and MN at B. Prove that Z AOB = 90°.</p>
                        <div class="columns is-mobile is-vcentered">
                                <div class="column " >
                                <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/9.png">
                                </figure>
                                </div>
                        </div>
                        <p><b>Q31. Solve the pair of equations :</b><br><br>
                        2/x + 3/y = 11, 5/x - 4/y =-7<br><br>
                        Hence, find the value of 5x-3y.<br></p>
                        <h2> OR</h2>

                        <p><b>Q32.</b> Prove that:<br> (sin&Theta; - cos&Theta; + 1)/(cos&Theta; + sin&Theta; -1) = 1/(sec&Theta; - tan&Theta;)
                        </p>
                        <p><b>Q33.</b> In Figure-8, find the area of the shaded region where a circular are of radius 7 cm has been drawn with vertex O of an equilateral triangle OAB  of side 14 cm as centre.</p>
                        <div class="columns is-mobile is-vcentered">
                                <div class="column " >
                                <figure class="image is-128x128" style="margin-top:21px;">
                                    <img src="/static/images/10.png">
                                </figure>
                                </div>
                        </div>
                        <p><b>Q34.</b> Construct a triangle with sides 5 cm, 6 cm and 7 cm. Now construct another triangle whose sides are times the corresponding sides of the first triangle.</p>
                        </p>
                        <h2 class='has-centered-text'> OR </h2>
                        <p>Draw a pair of tangents to a circle of radius 3 cm which are inclined to each other at an angle of 60°.</p>   
                        <h1 class="has-text-centered"><strong>SECTION-D</strong></h1>
                        <h4>Question numbers 35 to 40 carry 4 marks each.</h4>
                        
                        <p><b> Q35.</b> In a flight of 600 km, the speed of the aircraft was slowed down due to bad weather. The average speed of the trip was decreased by 200 km/hr and thus the time of flight increased by 30 minutes. Find the average speed of the aircraft originally.</p>
                        <h2>OR</h2>
                        <p>9,000 were divided equally among a certain number of persons. Had there been 20 more persons, each would have got 160 less. Find the original number of persons.</p>
                        <p><b>Q36.</b> Draw a 'more than' cumulative frequency curve for the following distribution. Also, find the median from the graph.</p>
                        <div class="columns is-mobile is-vcentered">
                                <div class="column " >
                                <figure class="image is-256x256" style="margin-top:21px;">
                                    <img src="/static/images/11.png">
                                </figure>
                                </div>
                        </div>
                        <p><b>Q37.</b> If a line is drawn parallel to one side of a triangle to intersect the other in distinct points, then prove that the other two sides are divided in the same ratio.</p>
                        <h2>OR</h2>
                        <p>In a right-angled triangle, prove that the square of the hypotenuse is equal to the sum of the squares of the other two sides.</p>
                        <p><b>Q38. </b>A straight highway leads to the foot of a tower. A man standing at the top of the tower observes a car at an angle of depression of 30°, which is approaching the foot of the tower with a uniform speed. After covering a distance of 50 m, the angle of depression of the car becomes 60°. Find the height of the tower.</p>
                        <p><b>Q39. </b> A bucket open at the top has top and bottom radii of circular ends as 40 cm and 20 cm respectively. Find the volume of the bucket if its depth is 21 cm. Also find the area of the tin sheet required for making the bucket.</p>
                        <p><b>Q40. </b> Obtain other zeroes of the polynomial <br> f(x) = 2x<sup>4</sup> + 3x<sup>3</sup> - 5x<sup>2</sup> - 9x - 3 <br>if two of its zeroes are 73 and - 13.</p>
                        <h2>OR</h2>
                        <p>Without actually calculating the zeroes, form a quadratic polynomial whose zeroes are reciprocals of the zeroes of the polynomial 5x<sup>2</sup> + 2x - 3.</p>
                    </div>
                </article>
            </div>
            
        </div>
            
    </div>
    </div>

{% endblock body %}  