{% extends 'base.html' %}

{% block title %}UNIVERSITIES/PU{% endblock title %}

{% block body %}

<!--breadcrumb-->

        <div class="section ">
            
			<nav class="breadcrumb  is-large is-centered has-succeeds-separator " aria-label="breadcrumbs">
                <ul class="">
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li class = "is-active"><a href="##"><b>UNIVERSITES/PU</b></a></li>
                </ul>
            </nav>
        
		</div>
    
<!--/breadcrumb--> 
 
<!--section-->

        <div class="section" >

            <div class="columns is-multiline is-mobile" >
                <div class="column is-half">
                    <article class="media notification is-light" >
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BA</strong></h1>
							    
								<button onClick="location.href='ba.html'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>GET</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                    <article class="media notification is-light">
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BCOM</strong></h1>
							
							    <button onClick="location.href='bcom.html'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>GET</b></button>   
						    </div>
					    </div>
				    </article>
                </div>

                <div class="column is-half">
                    <article class="media notification is-light" >
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BBA</strong></h1>
							    
								<button onClick="location.href='##'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                    <article class="media notification is-light">
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BSC-NM</strong></h1>
							
							    <button onClick="location.href='##'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>

                <div class="column is-half">
                    <article class="media notification is-light" >
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BSC-M</strong></h1>
							
							    <button onClick="location.href='##'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            
                <div class="column is-half">
                    <article class="media notification is-lightk">
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BCA</strong></h1>
							    <button onClick="location.href='##'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"> <b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
                
				<div class="column ">
                    <article class="media notification is-light">
					    <div class="media-content">
						    <div class="content">
							    <h1 class="title is-size-4" style=" font-family:Archivo Black"><strong>BSC-CS</strong></h1>
							    <button  onClick="location.href='##'" class="button is-primary is-rounded  " style="background-image: linear-gradient(225deg, #6c5d88 0, #4a3e72 25%, #1f1f59 50%, #000042 75%, #00002f 100%);"><b>COMING SOON</b></button>   
						    </div>
					    </div>
				    </article>
                </div>
            </div>

        </div>
    
<!--section-->

{% endblock body %}

        